<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<%- include('_menu') -%>
<body class="post_list">
    
<h1 class="titlePosts">Posts</h1> 

<div>
<ol>
    <% results.forEach(function(post) {%>
        <li class="nostyle">
            <div class="singlePost">
                
                <div class="postInfo">
                    <img src="<%=post.imageUrl%>" class="postImg">  
                    <div class="postUserInfo">
                        <img src="<%=post.postedBy.profileImageUrl%>" class="postProfileImg">  
                        <p class="postUser"><a href=/users/<%= post.postedBy.id %>><%= post.postedBy.username %></a></p>
                    </div>
                    <div class="message">
                        <p class="postMess"><%= post.message %></p>
                        <p class="postTime"><%= post.createdAt %></p>
                    </div>
                </div>
                <p class="postLike">Liked by <% if(post.likedBy.length > 2) {%> <%= post.likedBy[0].username %> and <%= post.likedBy.length - 1 %> others <%} else if (post.likedBy.length <= 2){%> <%= post.likedBy.length %> <% }; %><br>
                    Disliked by <% if(post.dislikedBy.length > 2) {%> <%= post.dislikedBy[0].username %> and <%= post.dislikedBy.length - 1 %> others <%} else if (post.dislikedBy.length <= 2){%> <%= post.dislikedBy.length %> <% }; %></p>
                
                <div class= "opinion">
                    
                <form method="post" action="/posts/<%=post.id%>/like/" >
                    <button type="submit" class="likeButton">
                        Like!
                    </button>
                </form>
                <form method="post" action="/posts/<%=post.id%>/dislike/">
                    <button type="submit">Dislike!</button>
                </form>
                </div>
            </div>
       

        </li>
    <% }); %>
</ol>
</div>

<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>

