<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
    
    <center><img src="<%=coverImageUrl%>" style="width:80%;">
    
    
    <img src="<%=profileImageUrl%>">
    
    <h1><%= name %></h1></center>
</body>
<%- include('_footer') -%>
</html>