<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<%- include('_menu') -%>
<body class="userDetail">
 
 
</div>
    <div class="container">
    <div class="cover"><img src="<%=coverImageUrl%>" class="userCover"></div>
    
        <div class="profilepic">
        <img src="<%=profileImageUrl%>" class="userProfile">
        <div class="user">
            <p class="udUser"><%= username %></p>
            <p class="udEmail"> <%= email %></p>
            </div>
        </div>
    
        <div class="udN"><p class="udName"><%= name %></p></div>
        
       
        
    </div>

  
</body>
<%- include('_footer') -%>
</html>